/*====================================================*/
/*TAGS*/
/*====================================================*/

h1, h2, h3, h4, h5, h6{
    text-transform: uppercase;
}

body{
    font-family: Montserrat, sans-serif;
    
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(https://aprendizajedigital.github.io/cursos/cocina-peruana-ceviches-y-mariscos/img/background.png);
    
    // background-position: center center;
    // background-size: cover;
    // background-size: 2000px auto;
}

mark{
    background-color: #ffe357;
    padding: 4px;
}

hr{
    width: 100%;
    border-color: #fff;
    border-width: 2px;
    border-style: dotted;
}
/*====================================================*/
/*END TAGS*/
/*====================================================*/