//====================================================
//* COMPONENT - FOOTER *
//====================================================

.footer{
    font-size: 20px;
    list-style: 22px;

    &__menu{
        display: block;
        width: 100%;
    }
}

//====================================================
//* END COMPONENT - FOOTER *
//====================================================