/*====================================================*/
/*COMPONENT - FOOTER*/ 
/*====================================================*/

.c-footer{
    background-color: #e99e88;
    padding: 30px 0;

    &__container{

    }

    &__text{
        font-weight: 400;
        font-size: 16px;
        text-shadow: RGB(0 0 0 / 30%) 2px 0px 0px;
        color: #ffffff;
        text-align: center;
    }
}

/*====================================================*/
/* END COMPONENT - FOOTER */
/*====================================================*/