.c-important{

    background-color: #f8b400;

    &__container{

    }
    
    &__span{
        color:rgb(255, 0, 0);
    }

    &__paragraph{
        font-size: 17px;
        font-weight: 800;
        text-shadow: RGB(0 0 0 / 50%) 1px 1px 1px;
        color: #000000;
        text-align: center;
        line-height: 1.7;

        padding: 20px 0;

        @include max-rwd(md){
            font-size: 16px;
            line-height: 1.5;
        }
    }
}