.c-purpose{

    background: linear-gradient(90deg, #1A237E, #0D47A1, #1976D2);
    padding: 40px 0;
    color: #fff;
    text-align: center;

    &__container{

    }

    &__title{
        font-size: 50px;
        font-weight: 800;
        font-style: italic;
    }

    &__subtitle{
        font-size: 22px;
        font-weight: 400;
        line-height: 25px;
    }

}