.o-summary-information{
    &__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__group{
        width: 710px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2px;
        text-align: center;  

        background-color: #fff;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
        transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
        padding: 20px 20px 20px 20px;
        border-radius: 20px 20px 20px 20px;

        @include max-rwd(md){
            width: 100%;
        }
    }

    &__text-1{
        font-size: 46px;
        font-weight: 700;
        color: #F27052;

        text-shadow: RGB(0 0 0/80%) 1px 1px 1px;

        @include max-rwd(md){
            font-size: 40px;
        }
    }

    &__text-2{
        color: #000000;
        font-size: 20px;
        font-weight: 700;

        @include max-rwd(md){
            font-size: 18px;
        }
    }

    &__text-3{
        color: #658C3E;
        font-size: 35px;
        font-weight: 700;

        text-shadow: RGB(0 0 0/80%) 1px 1px 1px;

        align-self: center;
        text-align: center;

        @include max-rwd(md){
            font-size: 30px;
        }
    }

    &__text-3-span{
        text-decoration: line-through;
        text-decoration-color: red;
        text-decoration-thickness: 6px;
    }

    &__text-4, &__text-5, &__text-6{
        font-size: 25px;
        font-weight: 600;

        align-self: flex-start;
        
        text-align: left;

        @include max-rwd(md){
            font-size: 22px;
        }
    }

    &__text-4 i, &__text-5 i, &__text-6 i{
        color: #F2B199;
    }

    &__text-7{
        color: #F2B199;
        font-size: 42px;
        font-weight: 700;

        text-shadow: RGB(0 0 0/80%) 1px 1px 1px;

        @include max-rwd(md){
            font-size: 35px;
        }
    }

    &__text-8{
        color: #000000;
        font-size: 30px;
        font-weight: 700;

        @include max-rwd(md){
            font-size: 25px;
        }
    }

    &__text-9{
        color: RGB(17, 164, 0);
        font-size: 70px;
        font-weight: 700;

        text-shadow: RGB(0 0 0/75%) 2px 2px 1px;

        @include max-rwd(md){
            font-size: 45px;
        }
    }

    &__img-1{
        width: 100%;
    }

    &__img-2{
        width: 100%;
    }

    // &__button{
    //     font-family: "Montserrat", Sans-serif;
    //     font-size: 26px;
    //     font-weight: 700;
    //     fill: #292929;
    //     color: #292929;
    //     background-color: #F2B199;
    //     border-style: solid;
    //     border-width: 0px 0px 4px 0px;
    //     border-color: #BF5B45;
    //     border-radius: 60px 60px 60px 60px;
    //     box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    //     padding: 22px 22px 22px 22px;

    //     text-decoration: none;

    //     margin: 10px 0;

    //     transition: transform 0.2s, box-shadow 0.2s;
    // }

    // &__button:hover{
    //     transform: translateY(2px); /* Hace que el botón se hunda ligeramente */
    //     box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.7); /* Aumentamos la sombra al hacer hover */
    //     border-color: #F2B199;
    // }
}