//====================================================
//* SETTINGS *
//====================================================

$color-primary: red;
$color-secondary: green;
$font-size-text: 16px;

//====================================================
//* END SETTINGS *
//====================================================
