.c-header{
    
    background-color: RGB(237, 24, 0);
    padding: 25px 0;

    &__container{

    }

    &__title{
        text-align: center;
        font-size: 25px;
        font-style: italic;
        font-weight: 800;
        color: #fff;

        @include max-rwd(md){
            font-size:20px;
        }
    }

    &__title-span{
        font-style: normal;
    }
}