.c-frequent-questions{
 
    padding-bottom: 25px;

    &__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    &__title{
        color: #212529;
        font-size: 28px;
        font-weight: 800;
        text-shadow: RGB(0 0 0 / 15%) 1px 1px 2px;
        text-align: center;

        @include max-rwd(md){
            font-size:22px;
        }
    }

}