.c-teacher{

    background-color: #f7f7f7;
    padding: 40px 0;

    &__container{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__title{
        text-align: center;
        color: #e99e88;
        font-size: 28px;
        font-weight: 800;
        text-shadow: RGB(0 0 0 / 15%) 1px 1px 2px;

        @include max-rwd(md){
            font-size: 22px;
        }
    }

    &__container-profile{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
    }

    &__img{
        border-radius: 40px;

        flex-grow: 2;
        flex-basis: 0;

        overflow: hidden;
    }

    &__text{
        flex-grow: 3;
        flex-basis: 0;

        font-weight: 500;
        font-size: 17px;
        line-height: 1.5;
    }

    &__container-video{
        border-radius: 20px;
        border: 5px solid white;
        box-shadow: 5px 10px 30px #000000;
        overflow: hidden;//esto le quita los bordes esquinados
    }

    @include max-rwd(lg){
        &__img, &__text{
            flex-grow: 1;
            flex-basis: 100%;
        }
    }
}