.o-round-button-whatsapp{
    &__container{
    }

    &__link{
        
    }

    &__img{

        z-index: 1000;

        animation: glowing 2000ms infinite, horizontal-shaking 4s infinite;

        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 20px;
        right: 20px;
        background-color: #25d366;
       
        border-radius: 30px;

        fill: #ffffff;
        padding: 10px;
        border: 2.5px solid #25d366;

    }

    &__img:hover{
        fill: #25d366;
        background-color: #ffffff;
        border: 2.5px solid #25d366;
        // transition: fill ease-in-out 0.3s;
        transition: fill ease-in-out 0.3s, border ease-in-out 0.3s;
    }

    &__img:not(:hover){
        // transition: fill ease-in-out 0.3s;
        transition: fill ease-in-out 0.3s, border ease-in-out 0.3s;
    }
}