/*====================================================*/
/*SETTINGS*/ 
/*====================================================*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$color-header: #f33e67;
$color-primary: red;
$color-secondary: green;
$font-size-text: 16px;

$breakpoints:(

    //320
    //360
    //480
    //640
    //768
    //960
    //1024
    //1280
    //1440
    //1600

    sm: 576px,//small
    md: 768px,//medium
    lg: 992px,//large
    xl: 1200px,//xlarge
    xxl: 1440px,//xxlarge
);

/*====================================================*/
/*END SETTINGS*/
/*====================================================*/
