.c-header{
    color: #fff;
    background-color: RGB(237, 24, 0);
    padding: 25px 0;

    line-height: 1.5;

    text-align: center;

    &__container{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    &__title{
        font-size: 25px;
        font-weight: 800;
        font-style: italic;

        @include max-rwd(md){
            font-size: 20px;
        }
    }

    &__title-span{
        font-style: normal;
    }
}